@import "vars";
@import "libs";
@import "mixins";

.btn {
  @include font-style(800, 40px, 36px);
  
  span {
    display: inline-block;
    padding: 17px 37px 15px 17px;
    transition: background 0.4s linear;

    &:last-child {
      background: $green;
      position: relative;
      margin-left: -10px;
  
      &::before {
        content: "";
        width: 20px;
        height: 1px;
        background-color: $white;
        position: absolute;
        top: 50%;
        left: -10px;
      }
  
      &::after {
        content: "";
        width: 25px;
        height: 21px;
        background-image: url(../img/arrow-right.svg);
        position: absolute;
        top: 50%;
        right: 7px;
        transform: translateY(-50%);
      }
    }
  }
  
  &:hover {
    span {
      background: none;
    }

    span:first-child {
      background: $green;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

@media (max-width: 1100px) {
  .btn {
    font-size: 30px;
  }
}

@media (max-width: 580px) {
  .btn {
    line-height: 30px;

    span {
      padding: 14px 33px 12px 14px;
  
      &:last-child::after {
        width: 20px;
        height: 17px;
        background-size: contain;
      }
    }
  }
}