@import "vars";
@import "libs";
@import "mixins";

.footer {
  text-align: center;
  padding: 275px 0 34px;

  .btn {
    span {
      padding: 17px;

      &::after {
        display: none;
      }
    }
  }

  &__copy {
    @include font-style(300, 12px, 14px);
    letter-spacing: 1.05px;
    padding-top: 27px;
    opacity: 0.5;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 90px 0 34px;
  }
}