@import "vars";
@import "libs";
@import "mixins";

.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 25px;
  height: 42px;
  @include font-style(800, 40px, 36px);
  color: $white;
  border: none;
  background-color: transparent;

  &:focus {
    outline: 0;
  }
}

.quantity-button {
  width: 20px;
  height: 20px;
  @include centered;
  position: relative;
  top: 45px;
  cursor: pointer;

  &.quantity-up {
    position: absolute;
    right: 0;
  }
  
  &.quantity-down {
    position: absolute;
    right: 25px;
  }
}

@media (max-width: 1000px) {
  .quantity-button {
    &.quantity-up {
      right: auto;
      left: 25px;
    }
    
    &.quantity-down {
      right: auto;
    }
  }
}