@import "vars";
@import "libs";
@import "fonts";
@import "reset";
@import "header";
@import "btn";
@import "surf";
@import "holder";
@import "quantity";
@import "shop";
@import "footer";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: $gb;
  color: $white;
  text-transform: uppercase;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.headline-left,
.headline-right {
  display: inline-block;
  @include font-style(400, 22px, 32px);
  letter-spacing: 7.33px;
  opacity: 0.5;
  position: relative;

  &::before {
    content: "";
    width: 80px;
    height: 1px;
    background-color: $white;
    position: absolute;
    top: 50%;
  }
}

.headline-left {
  padding-left: 103px;

  &::before {
    left: 0;
  }
}

.headline-right {
  padding-right: 103px;

  &::before {
    right: 0;
  }
}

.title {
  span {
    display: inline-block;
    font-weight: 800;
    font-size: 200px;
    color: rgba($white, 0.02);
    position: relative;
    transform: translateX(-40px);
  }

  h3 {
    color: $white;
    font-size: 80px;
    position: absolute;
    top: 0;
    right: -5px;
    margin: 0;

    &::after {
      content: "";
      width: 80px;
      height: 1px;
      background-color: $green;
      position: absolute;
      top: 0;
      right: 0;

    }
  }
}

.subtitle {
  display: inline-block;
  text-align: right;

  &__head {
    @include font-style(800, 40px, 86px);

    span {
      font-weight: 300;
    }
  }
}

.descr {

  &__head {
    @include font-style(800, 40px, 60px);
    display: flex;
  }
}

.star-list li {
  display: inline-block;

  & + li {
    margin-left: -25px;
  }
}

@import "media";